@import url(global.css);

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    background-color: var(--color-neutral-silver);
}

.header-nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.header-nav ul li a {
    text-decoration: none;
    font-weight: var(--font-weight-medium);
    color: var(--color-secondary);
    transition: 0.3s;
}

.header-nav ul li a:hover {
    color: var(--color-primary);
}

.header-login {
    display: flex;
    gap: 14px;
}

.header-login a {
    text-decoration: none;
    padding: 10px 20px;
}

.btn-header-A {
    background-color: var(--color-neutral-silver);
    border: 1px solid var(--color-neutral-silver);
    border-radius: 6px;
    font-weight: var(--font-weight-medium);
    color: var(--color-primary);
    transition: 0.3s;
}

.btn-header-A:hover {
    border: 1px solid var(--color-primary);
}

.btn-header-B {
    background-color: var(--color-primary);
    color: var(--color-neutral-white);
    font-weight: var(--font-weight-medium);
    border-radius: 6px;
    transition: 0.3s;
}

.btn-header-B:hover {
    background-color: var(--color-shade-2);
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 104px;
    padding: 96px 144px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-text h1 {
    color: var(--color-neutral-d_grey);
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    font-weight: var(--font-weight-semi-bold);
    width: 657px;
}

.main-text h1 span {
    color: var(--color-primary);
}

.main-text p {
    font-size: var(--font-size-body-2);
    color: var(--color-neutral-grey);
    font-weight: var(--font-weight-regular);

}

.main-content a {
    width: 128px;
    padding: 14px 32px;
    text-decoration: none;
    border-radius: 4px;
    color: var(--color-neutral-white);
    background-color: var(--color-primary);
    font-weight: var(--font-weight-medium);
    transition: 0.3s;
}

.main-content a:hover {
    background-color: var(--color-shade-2);
}


.section-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 144px;
    margin: 40px 0;    
    gap: 16px;
}

.clients-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.clients-text h2 {
    font-size: var(--font-size-h2);
    color: var(--color-neutral-d_grey);
    font-weight: var(--font-weight-semi-bold);
    width: 1110px;
}

.clients-text p {
    font-size: var(--font-size-body-2);
    color: var(--color-neutral-grey);
    font-weight: var(--font-weight-regular);
}


.clients-logos {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    width: 1152px;
}

.section-community {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.community-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.community-info h2 {
    font-size: var(--font-size-h2);
    color: var(--color-neutral-d_grey);
    line-height: var(--line-height-h2);
    font-weight: var(--font-weight-semi-bold);
    width: 542px;
}

.community-info p {
    font-size: var(--font-size-body-2);
    color: var(--color-neutral-grey);
    font-weight: var(--font-weight-regular);
}

.community-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 127.5px;
}

.c-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 299px;
}

.c-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 267px;
}

.c-card-info h3 {
    font-size: var(--font-size-h3);
    color: var(--color-neutral-d_grey);
    line-height: var(--line-height-h3);
    font-weight: var(--font-weight-semi-bold);
}

.c-card p {
    font-size: var(--font-size-body-3);
    color: var(--color-neutral-grey);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-body-3);
}

.section-unlock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 49px;
    margin-top: 42px;
}

.unlock-info {
    display: flex;
    flex-direction: column;
    width: 661px;
    gap: 32px;
}

.unlock-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.unlock-text h2 {
    font-size: var(--font-size-h2);
    color: var(--color-neutral-d_grey);
    line-height: var(--line-height-h2);
    font-weight: var(--font-weight-semi-bold);
    width: 601px;
}

.unlock-text p {
    font-size: var(--font-size-body-2);
    color: var(--color-neutral-grey);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-body-3);
}

.unlock-info a {
    width: 151px;
    padding: 14px 32px;
    text-decoration: none;
    border-radius: 4px;
    color: var(--color-neutral-white);
    background-color: var(--color-primary);
    font-weight: var(--font-weight-medium);
    transition: 0.3s;
}

.unlock-info a:hover {
    background-color: var(--color-shade-2);
}

.section-counts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-neutral-silver);
    margin: 48px 0;
    padding: 64px 0;
}

.counts-info h2 {
    font-size: var(--font-size-h2);
    color: var(--color-neutral-d_grey);
    line-height: var(--line-height-h2);
    font-weight: var(--font-weight-semi-bold);
    width: 408px;
}
.counts-info h2 span {
    color: var(--color-primary);
}

.counts-info p {
    font-size: var(--font-size-body-2);
    color: var(--color-neutral-grey);
    font-weight: var(--font-weight-regular);
}

.section-customers {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-neutral-silver);
    padding: 32px 144px;
    margin: 48px 0;
    gap: 78px;
}

.customers-card {
    display: flex;
    flex-direction: column;
    width: 748px;
    gap: 32px;
}

.customer-info p {
    font-size: var(--font-size-body-2);
    color: var(--color-neutral-grey);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-body-2);
}

.customer-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.customer-info h2 {
    color: var(--color-primary);
    font-size: var(--font-size-h4);
}

.l-p {
    columns: var(--color-neutral-l_grey);
    font-weight: var(--font-weight-regular);
}

.client-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.client-container .imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 41px;
}

.client-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-primary);
}

.client-container a:hover {
    color: var(--color-shade-2);
}

.section-updates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 506px;
}
.updates-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.updates-info h2 {
    font-size: var(--font-size-h2);
    color: var(--color-neutral-d_grey);
    line-height: var(--line-height-h2);
    font-weight: var(--font-weight-semi-bold);
}

.updates-info p {
    font-size: var(--font-size-body-2);
    color: var(--color-neutral-grey);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-body-2);
    width: 628px;
}

.update-container {
    display: flex;
    gap: 24px;
}

.card-updates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-updates-info {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: var(--shadow-8px);
    background-color: var(--color-neutral-silver);
}

.card-updates-info h3 {
    font-size: var(--font-size-h4);
    color: var(--color-neutral-grey);
    font-weight: var(--font-weight-semi-bold);
    width: 285px;
}

.card-updates-info a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-primary);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-semi-bold);
    width: 285px;
    transition: 0.3s;
}

.card-updates-info a:hover {
    color: var(--color-shade-2);
}

.card-updates {
    position: relative;
}

.card-updates-info {
    position: absolute;
    top: 190px;
}

footer {
    margin-top: 94.6px;
}

.footer-A {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-neutral-silver);
    padding: 32px 0;
    gap: 32px;
}

.footer-A h2 {
    text-align: center;
    font-size: var(--font-size-h1);
    color: var(--color-neutral-black);
    width: 887px;
}

.footer-A a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 178px;
    padding: 14px 32px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--color-neutral-white);
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-semi-bold);
    background-color: var(--color-primary);
    transition: 0.3s;
}

.footer-A a:hover {
    background-color: var(--color-shade-2);
}

.footer-B {
    display: flex;
    background-color: var(--color-neutral-black);
    align-items: center;
    justify-content: space-around;
    padding: 64px 0;
}

.company-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
    color: var(--color-neutral-white);
}

.d-a {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: var(--font-size-body-3);
    font-weight: var(--font-weight-regular);
}

.company-info ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.company-info ul a img {
    border-radius: 50px;
    transition: 0.3s;
}

.company-info ul a img:hover {
    box-shadow: 0 0 10px 0 var(--color-neutral-white);
}

.footer-links {
    display: flex;
    gap: 30px;
    color: var(--color-neutral-white);
}
.footer-links .company, .support, .footer-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 12px;
}

.footer-links ul li a {
    text-decoration: none;
    color: var(--color-neutral-white);
    transition: 0.3s;
}

.footer-links ul li a:hover {
    color: var(--color-primary);
}

.footer-form form, input {
    background-color: var(--color-neutral-l_grey);
    border-radius: 8px;
}

.footer-form form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-form form a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 12px;
}

.footer-form input {
    padding: 11px 12px;
}

.footer-form input::placeholder {
    color: var(--color-neutral-white);
}

.footer-form form a {
    transition: 0.3s;
}

.footer-form form a:hover {
    transform: translateY(-4px);
}